<app-ex01 />

<nav>
    <h5>Com href:</h5>
    <ul>
        <h5>Com href</h5>
        <li><a href="/outro">Outro componente</a></li>
        <li><a href="/ex01">Exercicio 01</a></li>
    </ul>
    <h5>Com routerLink:</h5>
    <ul>
        <li><a routerLink="/outro" routerLinkActive="activo" >Outro componente</a> </li>
        <li><a routerLink="/ex01" routerLinkActive="activo" >Exercicio 01</a> </li>
    </ul>
</nav>


<router-outlet />
<!-- 
<h1>olá mundo!</h1>
<app-outro-componente>

</app-outro-componente>
---------------------------------------------------
<app-meu-componente meu-nome="Eugénio" />
---------------------------------------------------
<app-meu-componente meu-nome="Gomes" /> -->